html{
    scroll-behavior: smooth;
}
body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
main{
    padding-top: 15px;
    margin-top: -5px;
    width: 100%;
}

/*Debut nav */
#top a:hover{
    color: red;
}
#top a{
    margin-left: 10px;
}
.menu2 nav ul a:hover{
    color:red;
}
.menu2 nav ul a{
    margin-left: 10px;
}
header{
    background: black;
}
header nav > ul > li{
    display: inline-block;
}
.menu1{
    text-align: right;
}
.menu2{
    padding-left: 0%;
    display: flex;
}
header a:link, header a:visited{
    color: white;
}
    /*Debut submenu*/
.sub-menu{
    display: none;
    background: black;
    position: absolute;
    margin-left: -10px;
    padding: 10px;
    list-style: none;
}
header nav > ul > li:hover .sub-menu{
    display: block;
}
    /*Fin submenu*/
/*Fin nav */

/*Debut diapo */
.diapo{
    max-width: 100%;
    height: auto;
}
/*Fin diapo */

/*Debut contenue article dernier meilleur */
    /*Debut article */
.article{
    background: black;
    color: white;
    padding: 20px;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    
}
.imgarticle{
    float: left; 
    margin:0 20px 20px 0;
}
.contenue{
    background: gray;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}
.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.section{
    background: #ddd;
    color: black;
    padding: 20px;
    width: 100%;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 20px;
}
.section article a{
    color: black;
}
.section article a:hover{
    color: red;
}
    /*Fin article */
    /*Debut dernier et meilleurs */
.lastpro{
    background: black;
    color: rgb(236, 214, 214);
    display: inline-block;
    padding: 5px 5px 5px 5px;
}
#last article{
    text-align: center;
    float: left;
    width: calc(33.3% - 40px);
    padding: 20px;
}

.imgarticletech{
    width: 100%;
    height: 10%;
}
#best article{
    display: inline-block;
    width: calc(33.3% - 40px);
    text-align: center;
    padding: 20px;
}
    /*Fin dernier et meilleurs */
/*Fin contenue article dernier meilleur */

/*Debut reassure*/
.reassurance{
    background: #fff;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
}
.reassurance i{
    font-size: 2rem;
    display: block;
}
.reassurance small{
    display: block;
}
.reassurance a{
    color: black;
    text-align: center;
}
.reassurance a:hover{
    color: red;
}
/*Fin reassure*/

/*Debut footer*/
.footer{
    background: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.footer1{
    display: flex;
    justify-content: space-between;
}
.footer section{
    display: block;
}
.infoadress a,.info a{
    color: white;
    font-style: normal;
    display: block;
}
.infoadress a:hover,.info a:hover {
    color: red;
}
.imglogoand{
    margin-top: 1rem;
}
.resault a{
    font-size: 3rem;
    color: white;
}
.resault a:hover{
    color: red;
}
.hvide{
    display:none;
}
/*Fin footer*/

/*Debut bouton partage sur la gauche*/
.barresault{
    background: black;
    display: inline-block;
    left: 0;
    border-radius: 0% 5% 5% 0%;
    box-shadow: 1px 1px 30px white;
    position: fixed;
    top: 30%;
    left: 0;
}
.barresault a{
    color: white;
    display: block;
    font-size: 1.5rem;
    margin: 10px 10px 10px 10px;
}
.barresault a:hover{
    color: red;
}
/*Fin bouton partage sur la gauche*/

/*Debut triangle rouge*/
.trianglerr{
    right: 10px;
    bottom: 10px;
    position: absolute;
    
}
.arrow-up{
    display : inline-block;
    height : 0;
    width : 0;
    border-right : 20px solid transparent;
    border-bottom : 40px solid red;
    border-left : 20px solid transparent;
}
/*Fin triangle rouge*/
